
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.footer{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(30, 47, 92, 0.31) 0%, #0A1735 51.87%), url('./assets/FooterImage.png');
  background-repeat: no-repeat;
  background-position: center;
}
=======

